header {
  font-family: sans-serif;
  background-color: #0597F2;
  text-align: center;
  font-size: 24px;
  color: white;
  padding: 60px;
  
}

aside {
  float: right;
  width: 23%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
}

#content {
  float: left;
  width: 75%;
}

main {
  padding: 20px;
  overflow: auto;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  padding: 20px;
  color: white;
  background-color: #0597F2;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

.paragraf {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}


 th {
  text-align: start;

}

 tr {
  text-align: start;
}

img {
  width: 200px;
	display: block;
	margin: auto;
}

@media screen and (max-width: 1000px) {
  #content,
  aside {
      width: 100%;
      padding: 0;
  }
  footer {
    width: 100%;
    padding: 0;
}
}